# Python
__pycache__
*.pyc
*.pyo

# Virtualenvs (from project root)
/env
/.env
/.venv
/.venv2
/.venv3

# Pyenv
.python-version

# Build / Docs
_build
pyglet.*.log
*.orig
build
dist
pyglet.egg-info/
MANIFEST
.coverage
coverage_report/

# Version control
.hgrc

# IDEs / Editors
.idea
.vscode
*~
*.bak
*.cache

# Platforms
.DS_Store
*.swp

# Internal
tests/regression/images/*.png
tests/interactive/screenshots/session/*.png
tests/interactive/screenshots/committed/*.png
doc/api
doc/internal/build.rst
website/dist
tools/*tab.py
exprtab.py
parser.out
parsetab.py
pptab.py
strict_exprtab.py
prof/
