include LICENSE
include NOTICE
include README
#recursive-include doc/html *
recursive-include doc/html/api *
recursive-include examples *
recursive-include tests *
recursive-exclude * *.pyc 
recursive-exclude * *.pyo
prune tests/regression
