<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Version string must not have any letters, so use:
       alpha = x.x.x.(0 + alpha num)
       beta = x.x.x.(16 + beta num)
       rc = x.x.x.(32 + rc num)
       release = x.x.x.128 -->
  <Product Id="AEEC09B3-FC40-4841-9805-32ABC272945C"
      UpgradeCode="F2EAE19E-05FB-4AB1-B412-B0E45F3A41C7" Name="pyglet"
      Language="1033" Version="REPLACED" Manufacturer="pyglet">
    <Package Description="Windowing and multimedia library for Python" Comments="This will appear in the file summary stream." InstallerVersion="200" Compressed="yes" />
  
    <!-- Require Windows XP -->
    <Condition Message="pyglet requires Windows XP or later.  The installation will be aborted.">VersionNT &gt;= 501</Condition>
    
    <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />

    
    
    <!-- Byte compilation -->
<!--
    <CustomAction Id="ByteCompile" Property="PYTHONEXE" ExeCommand='-c "import compileall; compileall.compile_dir(\"[PYTHONHOME]\Lib\site-packages\pyglet\", force=1)"' Return="ignore" />
    <CustomAction Id="ByteOptimize" Property="PYTHONEXE" ExeCommand='-OO -c "import compileall; compileall.compile_dir(\"[PYTHONHOME]\Lib\site-packages\pyglet\", force=1)"' Return="ignore" />
-->    
    
    <InstallExecuteSequence>
      <LaunchConditions After="AppSearch" />
      <!--
      <Custom Action="SetPythonExe" After="InstallFinalize" />
      <Custom Action="ByteCompile" After="SetPythonExe" />
      <Custom Action="ByteOptimize" After="ByteCompile" />
      -->
    </InstallExecuteSequence>
    
    <UI Id="SetupUI"> 
      <Property Id="DefaultUIFont">DlgFont8</Property>
      <Property Id="DlgTitleFont">{&amp;DlgFontBold8}</Property>

      <Dialog Id="WelcomeDlg" Width="370" Height="270" Title="pyglet Setup" NoMinimize="yes">
        <!-- Banner -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="BannerBitmap" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>[DlgTitleFont]Install pyglet</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please read the following before continuing the installation.</Text>
        </Control>
        
        <!-- Content -->        
        <Control Id="ReadmeText" Type="ScrollableText" X="5" Y="50"
        Width="360" Height="180" Sunken="yes" TabSkip="no">
          <Text SourceFile="res\readme.rtf" />
        </Control>
        
        <!-- Buttons -->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56"
            Height="17" Default="yes" Text="Next">
          <Publish Event="NewDialog" Value="ChoosePythonDlg" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56"
        Height="17" Text="Cancel" Cancel="yes">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog> 


      <Dialog Id="ChoosePythonDlg" Width="370" Height="270" Title="pyglet Setup" NoMinimize="yes">
        <!-- Banner -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="BannerBitmap" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>[DlgTitleFont]Choose Python</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Select which instances of Python pyglet should be installed into.</Text>
        </Control>

        <!-- Content -->        
        <Control Id="Text" Type="Text" X="25" Y="70" Width="320" Height="20">
          <Text>Click on the icons in the list below to choose how pyglet will be installed.</Text>
        </Control>
        <Control Id="Tree" Type="SelectionTree" X="25" Y="95"
          Width="320" Height="95" Property="_BrowseProperty" Sunken="yes"
          TabSkip="no" Text="Tree of selections" />
        
        <!-- Buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56"
            Height="17" Text="Back">
          <Publish Event="NewDialog" Value="WelcomeDlg" />
        </Control>
        <Control Id="Install" Type="PushButton" X="236" Y="243" Width="56"
            Height="17" Default="yes" Text="Install">
          <Publish Event="NewDialog" Value="ProgressDlg" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56"
            Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
            
      <Dialog Id="ProgressDlg" Width="370" Height="270" Title="pyglet Setup" Modeless="yes">
        <!-- Banner -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="BannerBitmap" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>[DlgTitleFont]Installing pyglet</Text>
        </Control>

        <!-- Content -->
        <Control Id="StatusLabel" Type="Text" X="35" Y="100" Width="35" Height="10" Text="Status:" />
        <Control Id="ActionText" Type="Text" X="70" Y="100" Width="265" Height="10">
          <Subscribe Event="ActionText" Attribute="Text" />
        </Control>
        <Control Id="Text" Type="Text" X="35" Y="65" Width="300" Height="20">
          <Text>Please wait while pyglet is installed. This may take several minutes.</Text>
        </Control>
        <Control Id="ProgressBar" Type="ProgressBar" X="35" Y="115" Width="300" Height="10" ProgressBlocks="yes" Text="Progress done">
          <Subscribe Event="SetProgress" Attribute="Progress" />
        </Control>
        
        <!-- Buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="Next" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
      
      <Dialog Id="FinishDlg" Width="370" Height="270" Title="pyglet Setup" NoMinimize="yes">
        <!-- Banner -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="BannerBitmap" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>[DlgTitleFont]Installation successful</Text>
        </Control>
        
        <!-- Content -->        
        <Control Id="Text" Type="Text" X="25" Y="70" Width="320" Height="20">
          <Text>pyglet has been installed successfully.</Text>
        </Control>
        
        <!-- Buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="Finish">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="Cancel" />
      </Dialog>
      
      <Dialog Id="CancelDlg" Width="260" Height="85" Title="pyglet Setup" NoMinimize="yes">
        <Control Id="No" Type="PushButton" X="132" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="No">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Yes" Type="PushButton" X="72" Y="57" Width="56" Height="17" Text="Yes">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30">
          <Text>Are you sure you want to cancel [ProductName] installation?</Text>
        </Control>
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="InfoIcon" />
      </Dialog>



      
      <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
      <TextStyle Id="DlgFontBold8" FaceName="Tahoma" Size="8" Bold="yes" />

      <UIText Id="MenuAbsent">Entire feature will be unavailable</UIText>
      <UIText Id="MenuAdvertise">Feature will be installed when required</UIText>
      <UIText Id="MenuAllCD">Entire feature will be installed to run from CD</UIText>
      <UIText Id="MenuAllLocal">Entire feature will be installed on local hard drive</UIText>
      <UIText Id="MenuAllNetwork">Entire feature will be installed to run from network</UIText>
      <UIText Id="MenuCD">Will be installed to run from CD</UIText>
      <UIText Id="MenuLocal">Will be installed on local hard drive</UIText>
      <UIText Id="MenuNetwork">Will be installed to run from network</UIText>

      
      <ProgressText Action="ByteCompile">Byte-compiling modules</ProgressText>
      <ProgressText Action="ByteOptimize">Byte-compiling modules with optimization</ProgressText>
      
      <ProgressText Action="CostFinalize">Computing space requirements</ProgressText>
      <ProgressText Action="CostInitialize">Computing space requirements</ProgressText>
      <ProgressText Action="FileCost">Computing space requirements</ProgressText>
      <ProgressText Action="InstallValidate">Validating install</ProgressText>
      <ProgressText Action="InstallFiles" Template="File: [1],  Directory: [9],  Size: [6]">Copying new files</ProgressText>
      <ProgressText Action="InstallAdminPackage" Template="File: [1], Directory: [9], Size: [6]">Copying network install files</ProgressText>
      <ProgressText Action="CreateShortcuts" Template="Shortcut: [1]">Creating shortcuts</ProgressText>
      <ProgressText Action="PublishComponents" Template="Component ID: [1], Qualifier: [2]">Publishing Qualified Components</ProgressText>
      <ProgressText Action="PublishFeatures" Template="Feature: [1]">Publishing Product Features</ProgressText>
      <ProgressText Action="PublishProduct">Publishing product information</ProgressText>
      <ProgressText Action="RegisterClassInfo" Template="Class Id: [1]">Registering Class servers</ProgressText>
      <ProgressText Action="RegisterExtensionInfo" Template="Extension: [1]">Registering extension servers</ProgressText>
      <ProgressText Action="RegisterMIMEInfo" Template="MIME Content Type: [1], Extension: [2]">Registering MIME info</ProgressText>
      <ProgressText Action="RegisterProgIdInfo" Template="ProgId: [1]">Registering program identifiers</ProgressText>
      <ProgressText Action="AllocateRegistrySpace" Template="Free space: [1]">Allocating registry space</ProgressText>
      <ProgressText Action="AppSearch" Template="Property: [1], Signature: [2]">Searching for installed applications</ProgressText>
      <ProgressText Action="BindImage" Template="File: [1]">Binding executables</ProgressText>
      <ProgressText Action="CCPSearch">Searching for qualifying products</ProgressText>
      <ProgressText Action="CreateFolders" Template="Folder: [1]">Creating folders</ProgressText>
      <ProgressText Action="DeleteServices" Template="Service: [1]">Deleting services</ProgressText>
      <ProgressText Action="DuplicateFiles" Template="File: [1],  Directory: [9],  Size: [6]">Creating duplicate files</ProgressText>
      <ProgressText Action="FindRelatedProducts" Template="Found application: [1]">Searching for related applications</ProgressText>
      <ProgressText Action="InstallODBC">Installing ODBC components</ProgressText>
      <ProgressText Action="InstallServices" Template="Service: [2]">Installing new services</ProgressText>
      <ProgressText Action="LaunchConditions">Evaluating launch conditions</ProgressText>
      <ProgressText Action="MigrateFeatureStates" Template="Application: [1]">Migrating feature states from related applications</ProgressText>
      <ProgressText Action="MoveFiles" Template="File: [1],  Directory: [9],  Size: [6]">Moving files</ProgressText>
      <ProgressText Action="PatchFiles" Template="File: [1],  Directory: [2],  Size: [3]">Patching files</ProgressText>
      <ProgressText Action="ProcessComponents">Updating component registration</ProgressText>
      <ProgressText Action="RegisterComPlus" Template="AppId: [1]{{, AppType: [2], Users: [3], RSN: [4]}}">Registering COM+ Applications and Components</ProgressText>
      <ProgressText Action="RegisterFonts" Template="Font: [1]">Registering fonts</ProgressText>
      <ProgressText Action="RegisterProduct" Template="[1]">Registering product</ProgressText>
      <ProgressText Action="RegisterTypeLibraries" Template="LibID: [1]">Registering type libraries</ProgressText>
      <ProgressText Action="RegisterUser" Template="[1]">Registering user</ProgressText>
      <ProgressText Action="RemoveDuplicateFiles" Template="File: [1], Directory: [9]">Removing duplicated files</ProgressText>
      <ProgressText Action="RemoveEnvironmentStrings" Template="Name: [1], Value: [2], Action [3]">Updating environment strings</ProgressText>
      <ProgressText Action="RemoveExistingProducts" Template="Application: [1], Command line: [2]">Removing applications</ProgressText>
      <ProgressText Action="RemoveFiles" Template="File: [1], Directory: [9]">Removing files</ProgressText>
      <ProgressText Action="RemoveFolders" Template="Folder: [1]">Removing folders</ProgressText>
      <ProgressText Action="RemoveIniValues" Template="File: [1],  Section: [2],  Key: [3], Value: [4]">Removing INI files entries</ProgressText>
      <ProgressText Action="RemoveODBC">Removing ODBC components</ProgressText>
      <ProgressText Action="RemoveRegistryValues" Template="Key: [1], Name: [2]">Removing system registry values</ProgressText>
      <ProgressText Action="RemoveShortcuts" Template="Shortcut: [1]">Removing shortcuts</ProgressText>
      <ProgressText Action="RMCCPSearch">Searching for qualifying products</ProgressText>
      <ProgressText Action="SelfRegModules" Template="File: [1], Folder: [2]">Registering modules</ProgressText>
      <ProgressText Action="SelfUnregModules" Template="File: [1], Folder: [2]">Unregistering modules</ProgressText>
      <ProgressText Action="SetODBCFolders">Initializing ODBC directories</ProgressText>
      <ProgressText Action="StartServices" Template="Service: [1]">Starting services</ProgressText>
      <ProgressText Action="StopServices" Template="Service: [1]">Stopping services</ProgressText>
      <ProgressText Action="UnpublishComponents" Template="Component ID: [1], Qualifier: [2]">Unpublishing Qualified Components</ProgressText>
      <ProgressText Action="UnpublishFeatures" Template="Feature: [1]">Unpublishing Product Features</ProgressText>
      <ProgressText Action="UnregisterClassInfo" Template="Class Id: [1]">Unregister Class servers</ProgressText>
      <ProgressText Action="UnregisterComPlus" Template="AppId: [1]{{, AppType: [2]}}">Unregistering COM+ Applications and Components</ProgressText>
      <ProgressText Action="UnregisterExtensionInfo" Template="Extension: [1]">Unregistering extension servers</ProgressText>
      <ProgressText Action="UnregisterFonts" Template="Font: [1]">Unregistering fonts</ProgressText>
      <ProgressText Action="UnregisterMIMEInfo" Template="MIME Content Type: [1], Extension: [2]">Unregistering MIME info</ProgressText>
      <ProgressText Action="UnregisterProgIdInfo" Template="ProgId: [1]">Unregistering program identifiers</ProgressText>
      <ProgressText Action="UnregisterTypeLibraries" Template="LibID: [1]">Unregistering type libraries</ProgressText>
      <ProgressText Action="WriteEnvironmentStrings" Template="Name: [1], Value: [2], Action [3]">Updating environment strings</ProgressText>
      <ProgressText Action="WriteIniValues" Template="File: [1],  Section: [2],  Key: [3], Value: [4]">Writing INI files values</ProgressText>
      <ProgressText Action="WriteRegistryValues" Template="Key: [1], Name: [2], Value: [3]">Writing system registry values</ProgressText>
      <ProgressText Action="Advertise">Advertising application</ProgressText>
      <ProgressText Action="GenerateScript" Template="[1]">Generating script operations for action:</ProgressText>
      <ProgressText Action="InstallSFPCatalogFile" Template="File: [1],  Dependencies: [2]">Installing system catalog</ProgressText>
      <ProgressText Action="MsiPublishAssemblies" Template="Application Context:[1], Assembly Name:[2]">Publishing assembly information</ProgressText>
      <ProgressText Action="MsiUnpublishAssemblies" Template="Application Context:[1], Assembly Name:[2]">Unpublishing assembly information</ProgressText>
      <ProgressText Action="Rollback" Template="[1]">Rolling back action:</ProgressText>
      <ProgressText Action="RollbackCleanup" Template="File: [1]">Removing backup files</ProgressText>
      <ProgressText Action="UnmoveFiles" Template="File: [1], Directory: [9]">Removing moved files</ProgressText>
      <ProgressText Action="UnpublishProduct">Unpublishing product information</ProgressText>
      
      <AdminUISequence />
      <InstallUISequence>
        <Show Dialog="WelcomeDlg" After="MigrateFeatureStates" />
        <!--<Show Dialog="InstallDlg" After="ChoosePythonDlg">not
        (PYTHON24HOME and PYTHON25HOME)</Show>-->
        <Show Dialog="FinishDlg" OnExit="success" />
      </InstallUISequence>
    </UI>
    
    <Binary Id="BannerBitmap" SourceFile="res\banner.bmp" />
    <Binary Id="InfoIcon" SourceFile="res\info.ico" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder">
        <Component Id="AVbinComponent" Guid="AEEC09B3-FC40-4841-9805-32ABC272945D">
          <File Id="AVbinDLL" Name="avbin.dll" DiskId="1" Source="res\avbin.dll" />
        </Component>
      </Directory>
      <!-- pyglet modules are inserted here -->
    </Directory>

    <Feature Id="RuntimeFeature" Title="pyglet runtime" 
      Display="expand" Level="1" AllowAdvertise="no">
      <Feature Id="AVbinFeature" Title="AVbin audio and video support (recommended)" Level="1" AllowAdvertise="no">
        <ComponentRef Id="AVbinComponent" />
      </Feature>
      <!-- Python version features are inserted here -->
    </Feature>
  </Product> 
</Wix>
