name: pyglet
url: http://www.pyglet.org/

output: html
target: doc/html/api/
inheritance: included
private: no
imports: no
sourcecode: no
include-log: no

parse: yes
introspect: yes

module: pyglet

#exclude: pyglet.gl
#exclude: pyglet.window
#exclude: pyglet.image
#exclude: pyglet.media
#exclude: pyglet.event
#exclude: pyglet.clock
#exclude: pyglet.font

# Exclude OpenGL wrappers.. user can look these up on opengl.org
exclude: pyglet.gl.gl
exclude: pyglet.gl.glu
exclude: pyglet.gl.glext_abi
exclude: pyglet.gl.glext_nv
exclude: pyglet.gl.glext_missing

# Exclude context wrappers, these are complicated and private
exclude: pyglet.gl.agl
exclude: pyglet.gl.wgl
exclude: pyglet.gl.wglext_abi
exclude: pyglet.gl.wglext_nv
exclude: pyglet.gl.glx
exclude: pyglet.gl.glxext_abi
exclude: pyglet.gl.glxext_nv

# Exclude lib modules, these are private
exclude: pyglet.gl.lib
exclude: pyglet.gl.lib_agl
exclude: pyglet.gl.lib_wgl
exclude: pyglet.gl.lib_glx

# Exclude context info modules, these are private (need not be, but not very
# useful).
exclude: pyglet.gl.glx_info
exclude: pyglet.gl.wgl_info

# Exclude platform-dependent windowing
exclude: pyglet.window.xlib
exclude: pyglet.window.carbon
exclude: pyglet.window.win32

# Exclude specific image codecs
exclude: pyglet.image.codecs

# Exclude specific media implementations
exclude: pyglet.media.quicktime
exclude: pyglet.media.gst_openal
exclude: pyglet.media.openal
exclude: pyglet.media.lib_alc
exclude: pyglet.media.lib_openal
exclude: pyglet.media.gstreamer
exclude: pyglet.media.directshow

# Exclude specific font implementations
exclude: pyglet.font.carbon
exclude: pyglet.font.freetype
exclude: pyglet.font.freetype_lib
exclude: pyglet.font.ttf
exclude: pyglet.font.win32

# Exclude (unfinished) extension modules
exclude: pyglet.ext
