name: pyglet API reference
url: http://www.pyglet.org/

output: html
target: doc/html/api/
inheritance: included
private: no
imports: no
sourcecode: no
include-log: no

parse: yes
introspect: yes

module: pyglet

#exclude: pyglet.app
#exclude: pyglet.clock
#exclude: pyglet.event
#exclude: pyglet.font
#exclude: pyglet.gl
#exclude: pyglet.graphics
#exclude: pyglet.image
#exclude: pyglet.media
#exclude: pyglet.resource
#exclude: pyglet.sprite
#exclude: pyglet.text
#exclude: pyglet.window

# Exclude OpenGL wrappers.. user can look these up on opengl.org
exclude: pyglet.gl.gl
exclude: pyglet.gl.glu
exclude: pyglet.gl.glext_arb
exclude: pyglet.gl.glext_nv
exclude: pyglet.gl.glext_mesa
exclude: pyglet.gl.glext_missing

# Exclude context wrappers, these are complicated and private
exclude: pyglet.gl.agl
exclude: pyglet.gl.wgl
exclude: pyglet.gl.wglext_arb
exclude: pyglet.gl.wglext_nv
exclude: pyglet.gl.glx
exclude: pyglet.gl.glxext_arb
exclude: pyglet.gl.glxext_nv
exclude: pyglet.gl.glxext_mesa

# Exclude lib modules, these are private
exclude: pyglet.lib
exclude: pyglet.gl.lib
exclude: pyglet.gl.lib_agl
exclude: pyglet.gl.lib_wgl
exclude: pyglet.gl.lib_glx

# Exclude context info modules, these are private (need not be, but not very
# useful).
exclude: pyglet.gl.glx_info
exclude: pyglet.gl.wgl_info

# Exclude platform-dependent event loop
exclude: pyglet.app.xlib
exclude: pyglet.app.carbon
exclude: pyglet.app.win32

# Exclude platform-dependent windowing
exclude: pyglet.window.xlib
exclude: pyglet.window.carbon
exclude: pyglet.window.win32

# Exclude specific image codecs
exclude: pyglet.image.codecs

# Exclude Windows com interface
exclude: pyglet.com

# Exclude specific media implementations
exclude: pyglet.media.riff
exclude: pyglet.media.avbin
exclude: pyglet.media.procedural

# Exclude low level audio drivers
exclude: pyglet.media.drivers

# Exclude specific font implementations
exclude: pyglet.font.carbon
exclude: pyglet.font.freetype
exclude: pyglet.font.freetype_lib
exclude: pyglet.font.ttf
exclude: pyglet.font.win32

