body { text-align: center; }
div#content { width: 700px; margin 0 auto; text-align: left;}
h1 { text-align: center; }
table#news { width: 40em; margin-top: 2em}
table#news td { vertical-align: top; width: 75%; text-align: left}
table#news td.first { width: 25%; text-align: right}
