body { text-align: center; background-image: url(cube.png); background-repeat:
no-repeat;}
div#content { margin-left: 150px;width: 700px; text-align: left;}
h1 { text-align: center; }
table#news { width: 40em; margin-top: 2em}
table#news td { vertical-align: top; width: 75%; text-align: left}
table#news td.first { width: 25%; text-align: right}
table#overview {border-collapse: separate; border-spacing: 0px 0px;}
table#overview td {padding: 5px 1em 5px 1em; text-align: center; font-weight: bold; border: 1px solid #666}

